main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: aqua; */
}

main header {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 2vh;
}

main header h1 {
    font-size: 3em;
    color: var(--fontColor);
    padding: 2vh 0;
    text-shadow: var(--textShadow);
}

.containerSearchCharacters {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 5vh;
}

.containerSearchCharacters select {
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: var(--boxShadow);
}

.containerSearchCharacters input {
    width: 50%;
    padding: 2vh 0px;
    padding-left: 2vw;
    border-radius: 15px;
    border: none;
    box-shadow: var(--boxShadow);
    font-size: 1.5em;
}

.containerSearchCharacters button {
    padding: 1.2vh 2.2vw;
    border-radius: 10px;
    border: none;
    font-size: 1.2em;
    box-shadow: var(--boxShadow);
    cursor: pointer;
}

.containerSearchCharacters button:hover {
    background-color: #000;
    color: var(--fontColor);
}


main > div {
    width: 75%;
    position: relative;
}

.containerCharacters {
    width: 100%;
    height: 65vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    overflow-y: scroll !important;
    overflow-y: hidden;
}

.containerCharacters h1 {
    font-size: 4em; 
    color: var(--fontColor); 
    text-shadow: var(--textShadow)
}

main > div footer {
    width: 100%;
    height: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -3.3vh;
}

main > div footer button {
    width: 15%;
    height: 100%;
    font-size: 1.1em;
    border-radius: 10px;
    border: none;
    box-shadow: var(--boxShadow);
    cursor: pointer;
}

main > div footer button:hover {
    background-color: #000;
    color: var(--fontColor);
}

.cardCharacters {
    width: 15%;
    border-radius: 10px;
    margin: 1vh 0;
    cursor: pointer;
    background: rgb(0,0,0);
    background: linear-gradient(203deg, rgba(0,0,0,1) 0%, rgba(236,29,36,1) 100%);
}

.containerImgCharacters {
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    height: 20vh;
    max-height: 20vh;
}

.containerImgCharacters img {
    width: clamp(100%, 100%, 100%);
    height: clamp(100%, 100%, 100%);
    object-fit: cover;
    border-radius: 10px;
}

.containerTitleCharacter {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.3vh 0;
}

.containerTitleCharacter span {
    width: 90%;
    font-size: 1.1em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    color: var(--fontColor);
}

.containerDescriptionCharacter {
    width: 100%;
    min-height: 15vh;
    height: 15vh;
    max-height: 15vh;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;
}

.backgroundImg {
    background: url('../imgs/giphy.webp') no-repeat center;
    background-size: 90% 90%;
}

.containerModal {
    width: clamp(25vw, 25vw, 25vw);
    height: clamp(30vw, 30vw, 30vw);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--backgroundModals);
    border-radius: 15px;
    background-image: url('../imgs/moonKnight.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    color: var(--fontColor);
}

.containerImg {
    width: 80%;
    height: 55%;
    position: relative;
}

.containerImg img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.containerName {
    width: 80%;
    height: 3%;
    padding: 8% 0;
    text-align: center;
}

.containerName span {
    font-size: 1.3em;
}

.containerDescription {
    width: 80%;
    height: 25%;
    overflow-y: scroll;
    overflow-x: hidden;
    text-align: center;
}

.closeModal {
    cursor: pointer;
    color: red;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2em;
}

.closeModal:hover {
    color: var(--fontColor);
}

@media (max-width: 768px) {
    main header h1 {
        font-size: 1.9em;
    }

    .containerSearchCharacters {
        width: 90%;
        flex-wrap: wrap;
        margin-bottom: 0px;
    }

    .containerSearchCharacters select {
        padding: 5px 5px;
        width: 45%;
        margin: 1vh 0;
        order: 2;
    }

    .containerSearchCharacters input {
        width: 95%;
        margin: 2vh 0;
        font-size: 1em;
        order: 1;
    }

    .containerSearchCharacters button {
        padding: 5px 9vw;
        margin: 1vh 0;
        order: 3;
    }

    main > div {
        width: 95%;
    }

    .containerCharacters {
        height: 55vh;
    }

    .containerCharacters h1 {
        font-size: 2em;
        text-align: center;
    }

    .cardCharacters {
        width: 30%;
    } 

    .containerImgCharacters {
        max-height: 15vh;
    } 

    main > div footer button {
        width: 35%;
    }

    main > div footer button:hover {
        background-color: var(--fontColor);
        color: inherit;
    }

    main > div footer button:active {
        background-color: #000;
        color: var(--fontColor);
    }

    .containerSearchCharacters button:hover {
        background-color: var(--fontColor);
        color: inherit;
    }

    .containerSearchCharacters button:active {
        background-color: #000;
        color: var(--fontColor);
    }

    .containerModal {
        width: 85vw;
        height: 70vh;
    } 
}