@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

:root {
    --backgroundBody: radial-gradient(circle, rgba(236,29,36,1) 0%, rgba(0,0,0,1) 100%), rgb(236,29,36);
    --fontColor: #FEFEFE;
    --textShadow: rgba(0 0 0 / 52%)-8px 8px 5px;
    --boxShadow: -8px 10px 15px 0px rgba(0,0,0,0.75);
    --backgroundModals: #FEFEFE;
}

*:not(i) {
    font-family: 'Bangers', cursive !important;
}

body {
    background: var(--backgroundBody);
}

.d-none {
    display: none !important;
}

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 20px;
}